* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0);
}

button {
    border-radius: 10px;
    border: none;
    margin: 5px; 
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
    transition: all 0.25s ease-in-out;
}

button:focus, button:active, button:hover {
    background-color: rgba(0, 0, 0, 0.5);
	outline-style: none;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.75);
    transition: all 0.25s ease-in-out;
}

#lock       { background-image: image(url("icons/lock.png")); }
#logout     { background-image: image(url("icons/logout.png")); }
#suspend    { background-image: image(url("icons/suspend.png")); }
#hibernate  { background-image: image(url("icons/hibernate.png")); }
#shutdown   { background-image: image(url("icons/shutdown.png")); }
#reboot     { background-image: image(url("icons/reboot.png")); }
