configuration {
	modes: "window,drun,filebrowser";
	font: "Cascadia Code 13";
	hover-select: true;
	auto-select: true;
	window-format: "{w} | {c} | {t}";
	me-select-entry: "MouseDPrimary";
	me-accept-entry: "MousePrimary";
    timeout {
        action: "kb-cancel";
        delay:  0;
    }
    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}

@theme "~/.config/rofi/theme.rasi"
